.icon-page_white_excel{background:url('IconsExtension/page_white_excel.png') no-repeat center center;}
.icon-printer{background:url('IconsExtension/printer.png') no-repeat center center;}
.icon-page_excel{background:url('IconsExtension/page_excel.png') no-repeat center center;}
.icon-databases{background:url('IconsExtension/databases.png') no-repeat center center;}
.icon-money_yen{background:url('IconsExtension/money_yen.png') no-repeat center center;}
.icon-computer{background:url('IconsExtension/computer.png') no-repeat center center;}
.icon-book{background:url('IconsExtension/book.png') no-repeat center center;}
.icon-student{background:url('IconsExtension/student.png') no-repeat center center;}
.icon-teacher{background:url('IconsExtension/teacher.png') no-repeat center center;}
.icon-edit_line{background:url('IconsExtension/edit_line.png') no-repeat center center;}
.icon-dc-home{background:url('IconsExtension/home.png') no-repeat center center;}