<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>中国智慧消防云平台</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/static/css/IconExtension.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dancemgr.css">
    <link rel="stylesheet" href="static/css/index.css">

    <script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>

    #hz119{
        margin:0 auto;
        width:1200px;
        height:20px;
    }
</style>
<body>

    <div id="hz119">
        <img src="/static/img/banner.gif" width="1200px" height="172px">
        <div style="margin:2px 0;"></div>
        <div class="easyui-panel" style="padding:5px;width:1200px;">
            <a id="btn-home" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-dc-home'">主页</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm1'">智慧消防标准委</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-edit'">智慧消防政务</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">羲和一张图</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">宣贯平台</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">国家消防预警</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">国家应急</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">消防诚信大数据</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">消防评估</a>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm3'">信息资源</a>
	    </div>

        <div style="margin:2px 0;"></div>
        <input class="easyui-textbox" prompt="用户名" iconWidth="28" style="width:200px;height:26px;padding:10px;">
        <input class="easyui-passwordbox" prompt="密码" iconWidth="28" style="width:200px;height:26px;padding:10px">
        <input class="easyui-textbox" prompt="验证码" iconWidth="28" style="width:200px;height:26px;padding:10px;">
        <a href="#" class="easyui-linkbutton c1" style="width:90px">登录</a>
        <a href="#" class="easyui-linkbutton c7" style="width:90px">注册</a>

        <input class="easyui-searchbox" data-options="label:'站内搜索',labelPosition:'left',labelAlign:'right',prompt:'请输入搜索内容'" style="width:400px">

    </div>
    <div style="margin:214px 0;"></div>

	<div id="mm1" style="width:150px;">
		<div data-options="">待添加</div>
		<div data-options="">待添加</div>
		<div class="menu-sep"></div>
		<div>待添加</div>
		<div>待添加</div>
		<div>待添加</div>
		<div class="menu-sep"></div>
		<div>
			<span>下一级目录</span>
			<div>
				<div>三级目录</div>
				<div>三级目录</div>
				<div>三级目录</div>
			</div>
		</div>
	</div>

	<div id="mm2" style="width:100px;">
		<div>建设中</div>
		<div>建设中</div>
		<div>建设中</div>
	</div>
	<div id="mm3" class="menu-content" style="background:#f0f0f0;padding:10px;text-align:left">
		<img src="/static/img/119.png" style="width:111px;height:120px">
		<p style="font-size:14px;color:#444;">中国智慧消防云平台</p>
	</div>

<div style="width:1200px; margin:auto; padding:10px 0;"><iframe id="ddtte" src="http://119.china.com.cn/node_1000181.htm" width="1200" height="90" scrolling="no" marginheight="0" frameborder="0"></iframe></div>
    <div class="wrap">
        <div class="newsBox fl">
            <h1><a href="http://119.china.com.cn/txt/2017-12/08/content_40096698.shtml">李伟：全面推进“智慧消防”建设</a></h1>

            <ul>
                <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097945.shtml">为儿童敲响消防警钟！上海首部消防舞台剧上演</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097911.shtml">家电厨具市场：曾因消防隐患被罚 今年又查出问题</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097906.shtml">郑州：升龙大厦、凯德广场正整改隐患</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097895.shtml">合肥地铁2号线全景式消防主题列车首秀</a></li>
            </ul>

            <h1><a href="http://119.china.com.cn/txt/2017-12/08/content_40096718.shtml">大风降温 北京消防发布防火安全提示</a></h1>

            <ul>
                <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097888.shtml">河南致39老人遇难特大火灾事故案16人被判刑</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097856.shtml">截至11月云南因火灾直接财产损失下降49.3%</a></li>
            </ul>

            <h1><a href="http://119.china.com.cn/txt/2017-12/08/content_40097121.shtml">江西省消防信息化建设现场推进会召开</a></h1>

            <ul>
                <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097809.shtml">国务院安委会对北京大兴火灾事故查处实行挂牌督办</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097126.shtml">居民家中易燃点 消防入户做实验</a></li>
            </ul>

            <p><a href="http://119.china.com.cn/node_1000183.shtml">更多>></a></p>
        </div>
        <div id="picBox" class="picBox fr">

            <ul id="picData">
                <li class="fl"><a href="http://119.china.com.cn/txt/2017-12/08/content_40097820.shtml"><img src="http://119.china.com.cn/images/2017-12/08/t2_(92X8X538X305)774687f0-10f1-4a1a-b41e-80bbb004013b.jpg" width="790" height="520" /></a>
                    <p><a href="http://119.china.com.cn/txt/2017-12/08/content_40097820.shtml">消防黑夜搜救：福建南平5名小学生山里迷路终获救</a></p>
                </li><li class="fl"><a href="http://119.china.com.cn/txt/2017-12/06/content_40093200.shtml"><img src="http://119.china.com.cn/images/2017-12/06/t2_(30X0X575X359)ddc90e84-7e4d-4bc4-9fa4-2a1457730b64.jpg" width="790" height="520" /></a>
                    <p><a href="http://119.china.com.cn/txt/2017-12/06/content_40093200.shtml">湖北举行消防部队实战化练兵比武</a></p>
                </li><li class="fl"><a href="http://119.china.com.cn/txt/2017-12/04/content_40089577.shtml"><img src="http://119.china.com.cn/images/2017-12/04/t2_(2X13X577X391)2bfcedf7-4e59-4fdd-bd50-225d33825c15.jpg" width="790" height="520" /></a>
                    <p><a href="http://119.china.com.cn/txt/2017-12/04/content_40089577.shtml">除了不舍还是不舍！又一批消防老兵退伍</a></p>
                </li><li class="fl"><a href="http://119.china.com.cn/txt/2017-12/01/content_40089135.shtml"><img src="http://119.china.com.cn/images/2017-12/01/t2_(6X9X485X328)0719935b-2053-43b7-ac71-5b64b481e09c.jpg" width="790" height="520" /></a>
                    <p><a href="http://119.china.com.cn/txt/2017-12/01/content_40089135.shtml">龙胜龙脊金竹壮寨发生火灾 经奋力扑救已熄灭</a></p>
                </li><li class="fl"><a href="http://119.china.com.cn/txt/2017-11/30/content_40087036.shtml"><img src="http://119.china.com.cn/images/2017-11/30/t2_(45X8X574X356)58aa542a-443c-429d-b36f-49ebde051de7_batchwm.jpg" width="790" height="520" /></a>
                    <p><a href="http://119.china.com.cn/txt/2017-11/30/content_40087036.shtml">中国消防博物馆举办“消防小达人体验营”少儿社教活动</a></p>
                </li>
            </ul>

        </div>
    </div>
    <div class="wrap">
        <div class="leftNews fl">
            <div class="newsTag fl">
                <h2>火灾防控<a href="http://119.china.com.cn/node_1000177.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/txt/2017-12/07/content_40096292.shtml"><img src="http://119.china.com.cn/images/2017-12/07/t2_(0X21X395X243)7ca85a58-8b28-464c-9141-7990915790ff_zsize_watermark.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/txt/2017-12/07/content_40096292.shtml">岳阳：华容多部门联合加强管控严防烟花爆竹事故</a></dd>
                </dl>
                <ul>
                    <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098198.shtml">思茅：持续加力弱势群体场所消防安全检查[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098184.shtml">麒麟消防联合区住建局“会诊”全区市政消火栓[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098178.shtml">江城消防深入敬老院开展“六熟悉”及灭火演练[图]</a></li>
                </ul>
            </div>
            <div class="newsTag fl">
                <h2>灭火救援<a href="http://119.china.com.cn/node_1000176.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/txt/2017-12/07/content_40096326.shtml"><img src="http://119.china.com.cn/images/2017-12/07/t2_(39X16X562X310)200c9ecd-0154-43df-b078-47ead09c42d1_watermark.png" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/txt/2017-12/07/content_40096326.shtml">千年古镇老宅深夜起火 景德镇浮梁消防奋力扑救</a></dd>
                </dl>
                <ul>
                    <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098195.shtml">墙体倒塌1男子被困 镇沅消防迅速解救[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098190.shtml">男子被钢筋穿刺右胸 五华消防紧急救援[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098151.shtml">大理弥渡信用社职工走进消防接受安全培训[图]</a></li>
                </ul>
            </div>
            <div class="newsTag fl">
                <h2>队伍风采<a href="http://119.china.com.cn/node_1000175.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/txt/2017-12/07/content_40096330.shtml"><img src="http://119.china.com.cn/images/2017-12/07/t2_(27X9X559X308)c46b206e-1714-4720-9e97-2e520e7ecbe2_watermark.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/txt/2017-12/07/content_40096330.shtml">景德镇昌江消防深入敬老院慰问孤寡老人</a></dd>
                </dl>
                <ul>
                    <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098174.shtml">玉溪新平消防“一馆”、“一室”正式建成[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/07/content_40096368.shtml">  南平武夷山市实现乡镇志愿消防队伍全覆盖</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/07/content_40096346.shtml">萍乡市湘东区消防大队“11.27”溶洞救援纪实</a></li>
                </ul>
            </div>
            <div class="newsTag fl">
                <h2>产品与科技<a href="http://119.china.com.cn/node_1000174.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/txt/2017-12/06/content_40093093.shtml"><img src="http://119.china.com.cn/images/2017-12/06/t2_(20X14X376X214)47e9a489-3a9e-4a13-a1a8-abcca4a213e4.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/txt/2017-12/06/content_40093093.shtml">大数据助力南通“智慧消防”</a></dd>
                </dl>
                <ul>
                    <li>•<a href="http://119.china.com.cn/txt/2017-12/06/content_40093102.shtml">徐州“电气火灾联网监测平台”实现精细化管理</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/06/content_40093095.shtml">镇江用物联“智慧” 破解高层建筑防火难题</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/04/content_40090507.shtml">昆明智慧消防平台实现单位消防安全精细化管理[图]</a></li>
                </ul>
            </div>
            <div class="newsTag fl">
                <h2>消防宣传<a href="http://119.china.com.cn/node_1000173.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/txt/2017-12/07/content_40096410.shtml"><img src="http://119.china.com.cn/images/2017-12/07/t2_(22X26X385X230)b0cce586-f247-4550-8095-9ebf81e7c437.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/txt/2017-12/07/content_40096410.shtml">永嘉消防演练进校园 千余名特教师生体验火场逃生</a></dd>
                </dl>
                <ul>
                    <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098187.shtml">大理凤仪幼儿园百名师生进红门体验消防[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098172.shtml">消防讲堂进校园 玉溪一中师生齐学防火术[图]</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40098170.shtml">大理弥渡信用社职工走进消防接受安全培训[图]</a></li>
                </ul>
            </div>
            <div class="newsTag fl">
                <h2>消防文化<a href="http://119.china.com.cn/node_1000169.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/txt/2017-11/28/content_40083655.shtml"><img src="http://119.china.com.cn/images/2017-11/28/t2_(8X48X400X269)65f3d14f-fad7-4837-9d9d-8ba191192bec.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/txt/2017-11/28/content_40083655.shtml">黑龙江消防新兵团举办"新训好声音"歌手大奖赛</a></dd>
                </dl>
                <ul>
                    <li>•<a href="http://119.china.com.cn/txt/2017-12/08/content_40097975.shtml">梦中惜离别  再忆战友情</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/05/content_40091763.shtml">满江红•老兵</a></li><li>•<a href="http://119.china.com.cn/txt/2017-12/04/content_40090812.shtml">离别的军营</a></li>
                </ul>
            </div>
        </div>
        <div class="rightNews fr">
            <div class="newsTagRight">
                <h2>消防统计<a href="http://119.china.com.cn/node_1000172.shtml">更多>></a></h2>
                <dl>
                    <dt class="fl"><a href="#"><img src="/static/img/pic-32.gif" width="185" height="120" /></a></dt>
                    <dd><a href="#">历年全国火灾分起火场所、分地区、分月季火灾等情况统计。</a></dd>
                </dl>
            </div>
            <div class="newsTagRight">
                <h2>专题推荐</h2>
                                <h3><a href="http://119.china.com.cn/ztbd/node_1000252.html">全国开展高层建筑消防安全综合治理工作</a></h3>
                <dl>
                    <dt class="fl"><a href="http://119.china.com.cn/ztbd/node_1000252.html"><img src="http://119.china.com.cn/images/2017-07/19/t2_(186X6X366X107)99fd9355-f3a5-4e2f-a920-6a7122045726.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/ztbd/node_1000252.html">7月至12月，全国开展高层建筑消防安全综合治理工作。</a></dd>
                </dl>
                <h3><a href="http://119.china.com.cn/ztbd/node_1000259.html">全国开展电气火灾综合治理行动</a></h3>
                <dl class="last">
                    <dt class="fl"><a href="http://119.china.com.cn/ztbd/node_1000259.html"><img src="http://119.china.com.cn/images/2017-06/29/c1ed281c-57d8-4634-a497-f88a86fc4d44.jpg" width="185" height="120" /></a></dt>
                    <dd><a href="http://119.china.com.cn/ztbd/node_1000259.html">从即日起到2020年4月，国务院安全生产委员会将在全国开展为期3年的电气火灾综合治理行动。</a></dd>
                </dl>

            </div>
            <div class="newsTagRight">
                <h2>地方导航</h2>
                <ul class="Lbox">
                    <li><a href="http://bj.119.gov.cn" class="lan" target="_blank">北京</a></li>
                    <li><a href="http://www.tjxf.gov.cn/" class="lan" target="_blank">天津</a></li>
                    <li><a href="http://he.119.gov.cn/" class="lan" target="_blank">河北</a></li>
                    <li><a href="http://www.nmg119.gov.cn/admin/default.jsp" class="lan" target="_blank">内蒙</a></li>
                    <li><a href="http://sx.119.gov.cn" class="lan" target="_blank">山西</a></li>
                    <li><a href="http://ln.119.gov.cn" class="lan" target="_blank">辽宁</a></li>
                    <li><a href="http://zd.jl119.gov.cn/xiaofang/" class="lan" target="_blank">吉林</a></li>
                    <li><a href="http://www.hlfire.gov.cn/" class="lan" target="_blank">黑龙江</a></li>
                    <li><a href="http://sh.119.gov.cn" class="lan" target="_blank">上海</a></li>
                    <li><a href="http://js.119.gov.cn" class="lan" target="_blank">江苏</a></li>
                    <li><a href="http://www.zjxf119.com/xiaofang/" class="lan" target="_blank">浙江</a></li>
                    <li><a href="http://www.ah119.cn:83/" class="lan" target="_blank">安徽</a></li>
                    <li><a href="http://fj.119.gov.cn" class="lan" target="_blank">福建</a></li>
                    <li><a href="http://jx.119.gov.cn" class="lan" target="_blank">江西</a></li>
                    <li><a href="http://sd.119.gov.cn" class="lan" target="_blank">山东</a></li>
                    <li><a href="http://ha.119.gov.cn" class="lan" target="_blank">河南</a></li>
                    <li><a href="http://www.hbfire.com/" class="lan" target="_blank">湖北</a></li>
                    <li><a href="http://www.hn119.gov.cn/" class="lan" target="_blank">湖南</a></li>
                    <li><a href="http://wsbs.gdfire.gov.cn/index.aspx" class="lan" target="_blank">广东</a></li>
                    <li><a href="http://www.gx119.gov.cn/" class="lan" target="_blank">广西</a></li>
                    <li><a href="http://hi.119.gov.cn/" class="lan" target="_blank">海南</a></li>
                    <li><a href="http://cq.119.gov.cn" class="lan" target="_blank">重庆</a></li>
                    <li><a href="http://sc.119.gov.cn" class="lan" target="_blank">四川</a></li>
                    <li><a href="http://www.gzxf119.gov.cn/xiaofang/" class="lan" target="_blank">贵州</a></li>
                    <li><a href="http://yn.119.gov.cn" class="lan" target="_blank">云南</a></li>
                    <li><a href="http://xz.119.gov.cn" class="lan" target="_blank">西藏</a></li>
                    <li><a href="http://www.sn119.gov.cn/" class="lan" target="_blank">陕西</a></li>
                    <li><a href="http://www.gs119.gov.cn/xiaofang/" class="lan" target="_blank">甘肃</a></li>
                    <li><a href="http://www.qh119.gov.cn/" class="lan" target="_blank">青海</a></li>
                    <li><a href="http://nx.119.gov.cn" class="lan" target="_blank">宁夏</a></li>
                    <li><a href="http://xj.119.gov.cn" class="lan" target="_blank">新疆</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrap linksBox">
        <h2>友情链接</h2>
        <div><a href="http://www.119.gov.cn/xiaofang/">公安部消防局</a>|<a href="http://www.cfm119.com/">中国消防博物馆</a>|<a href="http://119.china.com.cn/xfxh/txt/2015-10/14/content_3681505.htm">中国消防协会</a>|<a href="http://www.cccf.com.cn/getIndex.do">中国消防产品信息网</a>|<a href="http://119.china.com.cn/bzgf/node_512952.htm">中国消防标准规范网</a>|<a href="http://xfkj.119.gov.cn/net/goNetIndex.do">消防科技信息网</a>|<a href="http://www.ncfcsa.org/">全国商业消防与安全协会</a>|<a href="http://www.gov.cn/">中国政府网</a>|<a href="http://www.mps.gov.cn/">公安部网站</a>|<a href="http://www.chinapeace.gov.cn/">中国长安网</a>|<a href="http://www.cpd.com.cn/">中国警察网</a>|<a href="http://tv.cntv.cn/videoset/C12492">走近中国消防</a>|</div>
    </div>

</body>
</html>
